@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.welcome-carousel {
    width: 100%;
    background-color: white;
    margin: auto;
    height: 100vh;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 3rem;
}

p {
    color: #000;
    text-align: center;
    width: 60%;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}


.carousel .control-dots {
    position: fixed !important;
    bottom: 8rem !important;
}

.carousel .control-dots .dot {
    background: #BDBAC3 !important;
    box-shadow: none !important;
}

.carousel .control-dots .dot.selected {
    background: #F23F3A !important;; 
}

button {
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 5px;
    background-color: #F23F3A;
    color: white;
    padding: 8px 25px;
    border: none;
    font-size: 20px;
}

.button-row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 4rem;
}
