.field {
  padding: 0.5rem 1rem;
  font-family: "Inter"; /* for now, i don't have HK */
  font-weight: 500;
  font-size: 1.4rem;
  background: #f7f5f3;
  border-radius: 8px;
  border: none;
  width: 100%;
}
