.field {
  padding: 0.8rem 1rem;
  font-family: "Space Grotesk", monospace; /* for now, i don't have HK */
  font-weight: 400;
  font-size: 1.15rem;
  background: #f7f5f3;
  border-radius: 8px;
  border: none;
  width: 100%;
}

.field::placeholder {
  color: rgba(0,0,0,0.24);
}