.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    height: 100%;
}

h1 {
    font-family: 'Space Grotesk', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 32px;
    margin: 0.4rem 0;
}

h2 {
    font-family: 'Space Grotesk', sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    margin-top: 2rem;
}

.primary-button {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    background-color: #F23F3A;
    color: white;
    display: inline-flex;
    padding: 6.5px 15px;
    justify-content: center;
    align-items: center;
    border:none;
    margin: 2rem 0;
    align-self: center;
}